version: "3"
services:
  app-db:
     image: postgres
     environment:
       - POSTGRES_USER=admin
       - POSTGRES_PASSWORD=admin
       - POSTGRES_DB=test
     healthcheck:
       test: [ "CMD-SHELL", "pg_isready -U admin" ]
       interval: 5s
       timeout: 5s
       retries: 10

  app:
    image: mini-wallet-service-app
    ports:
      - "8080:8080"
    depends_on:
      app-db:
        condition: service_healthy
